{% extends "base.html" %}
{% load bootstrap_form from bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Entrar" %} — {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post" action="{% url 'registration:login' %}" novalidate>
                    {% csrf_token %}
                    <fieldset>
                        <legend>{% trans 'Log in' %}</legend>
                        {% bootstrap_form form %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    </fieldset>

                    <div class="form-group text-right">
                        <a class="btn btn-secondary" href="{% url 'registration:request_email_confirmation' %}">{% trans "Não lembro minha senha" %}</a>
                        <button class="btn btn-primary">
                            {% trans "Entrar" %}
                        </button>
                    </div>
                    <hr>
                    {% if facebook_login_url or google_login_url %}
                        <p>{% trans "Quer entrar com seu perfil de rede social?" %}</p>
                        <p>
                            {% if facebook_login_url %}
                                <a class="btn btn-default" href="{{ facebook_login_url }}">
                                    {% trans "Entrar com Facebook" %}
                                </a>
                            {% endif %}
                            {% if google_login_url %}
                                <a class="btn btn-default" href="{{ google_login_url }}"> {% trans "Entrar com Google" %}</a>
                            {% endif %}
                        </p>
                        <hr>
                    {% endif %}
                    <div class="form-group">
                        <p>{% trans "Ainda não possui uma conta?" %} <a class="btn btn-secondary" href="{% url 'registration:request_email_confirmation' %}">{% trans "Criar conta" %}</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
