{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_form from bootstrap3 %}

{% block title %}{% trans "Definir senha" %} — {{ block.super }}{% endblock %}

{% block content %}
<form method="post" class="form-horizontal" novalidate>
    {% csrf_token %}
    <fieldset>
        <legend>{% trans 'Definir senha' %}</legend>
        {% bootstrap_form form layout='horizontal' %}
    </fieldset>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary">
                {% trans "Definir senha" %}
            </button>
        </div>
    </div>
</form>
<form method="post" class="form-horizontal" novalidate>
    {% csrf_token %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default">
                {% trans "Eu não quero uma senha" %}
            </button>
        </div>
    </div>
</form>
{% endblock %}
