{% load i18n %}
{% load staticfiles %}
{% load price_range from price_ranges %}
{% load discounted_price_range price_difference from discount %}

<!--product-starts-->

<div class="product">
  <div class="container">
    <div class="product-top">

      <div class="product-one">
        {% for product in products %}
        <div class="col-md-3 product-left" itemscope itemtype="https://schema.org/Product">
          <div class="product-main simpleCart_shelfItem">
            <a itemprop="url" href="{{ product.get_absolute_url }}" class="mask">
              {% if product.images.first %}
                  <img class="img-responsive zoom-img" src="{{ product.images.first.image.crop.250x250 }}" alt="" />
              {% else %}
                  <img class="img-responsive zoom-img" src="{% static 'images/product-image-placeholder.png' %}" alt="" />
              {% endif %}
            </a>
            <div class="product-bottom">
              <h3>
                {{ product.name|truncatewords:3 }}
              </h3>
              <a itemprop="url" href="{{ product.get_absolute_url }}">
                <p>Explore Now</p>
              </a>
              <h4><a class="item_add" href="#"><i></i></a>
                {% if product.is_in_stock %}
                    {% with price_range=product|discounted_price_range:request.discounts undiscounted=product.get_price_range %}
                        {% with discount=undiscounted.min_price|price_difference:price_range.min_price %}
                            <span class="item_price">{% price_range price_range %}</span>
                            {% if undiscounted.min_price != price_range.min_price %}
                                <!--<span class="item_price label">{% trans "Discount!" %}</span>-->
                            {% endif %}
                        {% endwith %}
                    {% endwith %}
                {% else %}
                    &nbsp;
                {% endif %}
              </h4>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
</div>
