{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load status %}

{% block title %}{% trans "Pagamentos" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-payments{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li>{% trans "Pagamentos" %}</li>
    </ul>
{% endblock %}

{% block menu_sales_class %} active{% endblock %}

{% block content %}
    {% include "dashboard/includes/_status_filters.html" %}

    {% if payments %}
        <div class="card">
            <div class="data-table-container">
                <table class="bordered hoverable responsive data-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{% trans "Data" %}</th>
                            <th>{% trans "Pagamento" %}</th>
                            <th class="right-align">{% trans "Valor" %}</th>
                            <th class="wide">{% trans "Status" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for payment in payments %}
                        <tr>
                            <td><a href="{% url "dashboard:payment-details" pk=payment.pk %}">#{{ payment.id }}</a></td>
                            <td>{{ payment.created }}</td>
                            <td>
                                {% trans "Gateway" %}: {{ payment.variant }} &middot;
                                <a href="{% url 'dashboard:order-details' order_pk=payment.order.pk %}"> {% trans "Pedido " %}{{ payment.order }}</a>
                            </td>
                            <td class="right-align">{% gross payment.get_total_price %}</td>
                            <td>{% render_status payment.status payment.get_status_display %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% include "dashboard/includes/_pagination.html" %}
    {% else %}
        <p>{% trans "Nenhum pagamento encontrado." %}</p>
    {% endif %}

{% endblock %}
