{% load i18n %}
{% load materializecss %}

<form id="ship-delivery-group-form" method="post" role="form" action="{% url 'dashboard:cancel-delivery-group' order_pk=order.pk group_pk=group.pk %}" class="form-async" novalidate>
    {% csrf_token %}

    <div class="modal-content">
        <h5>{% trans "Cancelar grupo de entrega?" %}</h5>
        <p>
            {% blocktrans %}
                Depois desta ação, {{ group }} vai ser cancelado. Itens já encomendados serão retornados ao estoque.
            {% endblocktrans %}
        </p>
    </div>

    <div class="modal-footer">
        <button type="submit" class="modal-action btn-flat red-text">{% trans "Cancelar grupo" %}</button>
        <a href="#!" aria-hidden="true" class="modal-action modal-close btn-flat blue-text">{% trans "Cancelar" %}</a>
    </div>
</form>
