{% load i18n %}

<form action="{% url "dashboard:voucher-delete" pk=voucher.pk %}" method="post" novalidate>
    {% csrf_token %}
    <div class="modal-content">
        <h5>{% trans "Você tem certeza?" %}</h5>

        <p>
            {% blocktrans %}Você está prestes a deletar o cupom <strong>{{ voucher }}</strong>.{% endblocktrans %}
        </p>
    </div>

    <div class="modal-footer">
        <button type="submit" class="modal-action btn-flat blue-text">{% trans "Deletar" %}</button>
        <a href="#!" class="modal-action modal-close btn-flat blue-text">{% trans "Cancelar" %}</a>
    </div>
</form>
