{% extends "base.html" %}

{% load bootstrap_form from bootstrap3 %}
{% load i18n %}
{% load gross from prices_i18n %}
{% load markdown from markdown %}
{% load price_range from price_ranges %}
{% load static from staticfiles %}

{% block outercontent %}
<div class="logo">
  <p>Esta página não existe.<br>Você está procurando por algum produto específico?</p>
  <div class="input" id='error-search'>

    <form method="get" action="/products/search/">
      <button type="submit" style="background-color:transparent; border-color:transparent; padding-left:0px; border-left:0px;"><span class="icon" id="search-icon"><i class="fa fa-search"></i></span></button>

      <input type="text" name="q" id="id_q" value="Procurar" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Procurar';}"/>
      <!--<input type="image" class='search-btn' src="{% static 'images/search.png' %}" alt="Submit Form" />-->


    </form>
  </div>

</div>
{% endblock outercontent %}
<!--contact-end-->
