{% extends "base.html" %}

{% load bootstrap_form from bootstrap3 %}
{% load i18n %}
{% load gross from prices_i18n %}
{% load markdown from markdown %}
{% load price_range from price_ranges %}
{% load static from staticfiles %}

{% block outercontent %}
<!--contact-start-->

      <div class="contact-text">
        <div class="col-md-3 contact-left">
          <div class="address">
            <h5>Endereço</h5>
            <p>Luana Vizzon Acessórios
            <span>Servidão Laje de Pedra, 151</span>
            <span>Sala 07</span>
            Florianópolis, SC</p>
          </div>
          <div class="address">
            <p>Tel: 55 (48) 3037-9718,
            <span>WhatsApp: 55 (48) 9615-9131</span>
            Email: <a href="mailto:contato@luanavizzon.com.br">contato@luanavizzon.com.br</a></p>
          </div>
        </div>
        <div class="col-md-9 contact-right">
          <form action="https://www.rdstation.com.br/api/1.2/conversions" method="POST">
            <input type="text" name='nome' placeholder="Nome">
            <input type="text" name='telefone' placeholder="Telefone">
            <input type="text" name='email'  placeholder="Email">
            <textarea name='mensagem' placeholder="Mensagem" required=""></textarea>
            <div class="submit-btn">
              <input type="submit" value="ENVIAR">
            </div>
            <input type="hidden" id="identificador" name="identificador" value="contact" >
            <input type="hidden" id="token_rdstation" name="token_rdstation" value="e62acd99b0fced7294d66725f9eac312" >
            <input type="hidden" name="c_utmz" id="c_utmz" value="" />
            <input type="hidden" name="traffic_source" id="traffic_source" value="" />
            <script type="text/javascript">
            function read_cookie(a){var b=a+"=";var c=document.cookie.split(";");for(var d=0;d<c.length;d++){var e=c[d];while(e.charAt(0)==" ")e=e.substring(1,e.length);if(e.indexOf(b)==0){return e.substring(b.length,e.length)}}return null}try{document.getElementById("c_utmz").value=read_cookie("__utmz"); document.getElementById("traffic_source").value=read_cookie("__trf.src");}catch(err){}
            </script>
            {% csrf_token %}
          </form>
        </div>
        <div class="clearfix"></div>
      </div>

  <!--map-start-->

  <div class="product">
  </div>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3536.109769462307!2d-48.49542404965025!3d-27.590126228355903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x952739274e882ab5%3A0xb4b6bff0f1db00fd!2sServid%C3%A3o+Laje+de+Pedra%2C+151+-+07+-+Itacorubi%2C+Florian%C3%B3polis+-+SC!5e0!3m2!1sfr!2sbr!4v1481681089460" style="border:0"></iframe>
  </div>
  <div class="product">
  </div>
  <!--map-end-->

{% endblock outercontent %}
<!--contact-end-->
